/*-- scss:rules --*/

// Source Sans 3 VF

// CSS was taken from https://github.com/adobe-fonts/source-sans/blob/release/source-sans-3VF.css
@font-face {
  font-family: 'Source Sans 3 VF';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url('./styles/fonts/source-sans-3-3.052R/WOFF2/VF/SourceSans3VF-Upright.ttf.woff2') format('woff2'),
    url('./styles/fonts/source-sans-3-3.052R/WOFF/VF/SourceSans3VF-Upright.ttf.woff') format('woff'),
    url('./styles/fonts/source-sans-3-3.052R/VF/SourceSans3VF-Upright.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans 3 VF';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url('./styles/fonts/source-sans-3-3.052R/WOFF2/VF/SourceSans3VF-Italic.ttf.woff2') format('woff2'),
    url('./styles/fonts/source-sans-3-3.052R/WOFF/VF/SourceSans3VF-Italic.ttf.woff') format('woff'),
    url('./styles/fonts/source-sans-3-3.052R/VF/SourceSans3VF-Italic.ttf') format('truetype');
}

// Source Sans 3 created with https://gwfh.mranftl.com/fonts/

/* source-sans-3-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 300;
  src: url('./styles/fonts/source-sans-3-v9-latin-300italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/source-sans-3-v9-latin-300italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* source-sans-3-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/source-sans-3-v9-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/source-sans-3-v9-latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* source-sans-3-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('./styles/fonts/source-sans-3-v9-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/source-sans-3-v9-latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* source-sans-3-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 700;
  src: url('./styles/fonts/source-sans-3-v9-latin-700italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/source-sans-3-v9-latin-700italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

// Lato created with https://gwfh.mranftl.com/fonts/

/* lato-300italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font// -face/font-display for other options. */
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('./styles/fonts/lato-v24/lato-v24-latin-300italic.woff2') format('woff2'),
    /* Chrome // 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/lato-v24/lato-v24-latin-300italic.ttf') format('truetype');
  /* Chrome // 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font// -face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/lato-v24/lato-v24-latin-regular.woff2') format('woff2'),
    /* Chrome 36// +, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/lato-v24/lato-v24-latin-regular.ttf') format('truetype');
  /* Chrome 4// +, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font// -face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./styles/fonts/lato-v24/lato-v24-latin-700.woff2') format('woff2'),
    /* Chrome 36+, // Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/lato-v24/lato-v24-latin-700.ttf') format('truetype');
  /* Chrome 4+, // Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* lato-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font// -face/font-display for other options. */
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('./styles/fonts/lato-v24/lato-v24-latin-700italic.woff2') format('woff2'),
    /* Chrome // 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/lato-v24/lato-v24-latin-700italic.ttf') format('truetype');
  /* Chrome // 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

// Mulish created with https://gwfh.mranftl.com/fonts/

/* mulish-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/mulish-v12/mulish-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/mulish-v12/mulish-v12-latin-regular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* mulish-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 400;
  src: url('./styles/fonts/mulish-v12/mulish-v12-latin-italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/mulish-v12/mulish-v12-latin-italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* mulish-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('./styles/fonts/mulish-v12/mulish-v12-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/mulish-v12/mulish-v12-latin-700.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* mulish-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 700;
  src: url('./styles/fonts/mulish-v12/mulish-v12-latin-700italic.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('./styles/fonts/mulish-v12/mulish-v12-latin-700italic.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
